App_WebReferences/PickupRegistrationServiceRef/PickupRegistration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PickupRegistration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPickupRegistration_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://netconnect.bluedart.com/Ver1.9/ShippingAPI/Pickup/PickupRegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://netconnect.bluedart.com/Ver1.9/ShippingAPI/Pickup/PickupRegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://netconnect.bluedart.com/Ver1.9/ShippingAPI/Pickup/PickupRegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SAPI.Entities.Pickup" />
      <xsd:import schemaLocation="https://netconnect.bluedart.com/Ver1.9/ShippingAPI/Pickup/PickupRegistrationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://netconnect.bluedart.com/Ver1.9/ShippingAPI/Pickup/PickupRegistrationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SAPI.Entities.Admin" />
      <xsd:import schemaLocation="https://netconnect.bluedart.com/Ver1.9/ShippingAPI/Pickup/PickupRegistrationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SAPI.Entities.Enums.Pickup" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPickupRegistration_RegisterPickup_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPickup" />
  </wsdl:message>
  <wsdl:message name="IPickupRegistration_RegisterPickup_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPickupResponse" />
  </wsdl:message>
  <wsdl:message name="IPickupRegistration_CancelPickup_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelPickup" />
  </wsdl:message>
  <wsdl:message name="IPickupRegistration_CancelPickup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelPickupResponse" />
  </wsdl:message>
  <wsdl:message name="IPickupRegistration_GetAllProductsAndSubProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsAndSubProducts" />
  </wsdl:message>
  <wsdl:message name="IPickupRegistration_GetAllProductsAndSubProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsAndSubProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPickupRegistration">
    <wsdl:operation name="RegisterPickup">
      <wsdl:input wsaw:Action="http://tempuri.org/IPickupRegistration/RegisterPickup" message="tns:IPickupRegistration_RegisterPickup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPickupRegistration/RegisterPickupResponse" message="tns:IPickupRegistration_RegisterPickup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelPickup">
      <wsdl:input wsaw:Action="http://tempuri.org/IPickupRegistration/CancelPickup" message="tns:IPickupRegistration_CancelPickup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPickupRegistration/CancelPickupResponse" message="tns:IPickupRegistration_CancelPickup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProductsAndSubProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPickupRegistration/GetAllProductsAndSubProducts" message="tns:IPickupRegistration_GetAllProductsAndSubProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPickupRegistration/GetAllProductsAndSubProductsResponse" message="tns:IPickupRegistration_GetAllProductsAndSubProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPickupRegistration" type="tns:IPickupRegistration">
    <wsp:PolicyReference URI="#WSHttpBinding_IPickupRegistration_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterPickup">
      <soap12:operation soapAction="http://tempuri.org/IPickupRegistration/RegisterPickup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPickup">
      <soap12:operation soapAction="http://tempuri.org/IPickupRegistration/CancelPickup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProductsAndSubProducts">
      <soap12:operation soapAction="http://tempuri.org/IPickupRegistration/GetAllProductsAndSubProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PickupRegistration">
    <wsdl:port name="WSHttpBinding_IPickupRegistration" binding="tns:WSHttpBinding_IPickupRegistration">
      <soap12:address location="https://netconnect.bluedart.com/Ver1.9/ShippingAPI/Pickup/PickupRegistrationService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://netconnect.bluedart.com/Ver1.9/ShippingAPI/Pickup/PickupRegistrationService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>